# SPDX-FileCopyrightText: 2023 Urs Fleisch <ufleisch at users.sourceforge.net>
# SPDX-License-Identifier: CC0-1.0

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/linux.yml
      - /gitlab-templates/linux-qt6.yml
#      - /gitlab-templates/freebsd.yml
#      - /gitlab-templates/windows.yml
      - /gitlab-templates/craft-macos-arm64-qt6.yml
      - /gitlab-templates/craft-macos-x86-64-qt6.yml
      - /gitlab-templates/craft-windows-x86-64-qt6.yml
      - /gitlab-templates/flatpak.yml

.craft_macos_base:
  rules:
  - when: manual
    allow_failure: true
.craft_windows_base:
  rules:
  - when: manual
    allow_failure: true
flatpak:
  rules:
  - when: manual
    allow_failure: true
