[Desktop Entry]
Name=Kid3
Name[sr]=Кид3
Name[sr@ijekavian]=Кид3
Exec=kid3 %F
Icon=kid3
Type=Application
X-DocPath=kid3/index.html
MimeType=audio/mpeg;audio/ogg;application/ogg;audio/x-flac;audio/x-flac+ogg;audio/x-vorbis+ogg;audio/x-speex+ogg;audio/x-oggflac;audio/x-musepack;audio/aac;audio/mp4;audio/x-speex;audio/x-tta;audio/x-wavpack;audio/x-aiff;audio/x-it;audio/x-mod;audio/x-s3m;audio/x-ms-wma;audio/x-wav;audio/x-xm;audio/opus;audio/x-opus+ogg;audio/x-dsf;inode/directory;
GenericName=Audio Tagger
GenericName[cs]=Editor metadat zvukových souborů
GenericName[de]=Audio Tag Editor
GenericName[es]=Editor de etiquetas de audio
GenericName[fi]=Äänitiedostojen tagimuokkaaja
GenericName[fr]=Éditeur de balises
GenericName[it]=Editor di tag audio
GenericName[nl]=Audio tag editor
GenericName[pl]=Edytor znaczników audio
GenericName[ru]=Программа-редактор аудио-тегов
GenericName[sr]=Уређивач аудио ознака
GenericName[sr@ijekavian]=Уређивач аудио ознака
GenericName[sr@latin]=Uređivač audio oznaka
GenericName[sr@ijekavianlatin]=Uređivač audio oznaka
GenericName[tr]=Ses Dosyası Üstveri Düzenleyici
Comment=Edit audio file metadata
Comment[cs]=Upravit metadata zvukového souboru
Comment[de]=Metadaten von Audio-Dateien bearbeiten
Comment[es]=Editar los metadatos de archivos de sonido
Comment[fi]=Muokkaa ja konvertoi äänitiedostojen tageja
Comment[fr]=Modifier les métadonnées de fichiers son
Comment[it]=Modificare i metadati di file sono
Comment[pl]=Modyfikowanie metadanych plików dźwiękowych
Comment[ru]=Редактировать метаданные аудиофайла
Comment[sr]=Уређујте метаподатке звучних датотека
Comment[sr@latin]=Uređujte metapodatke zvučnih datoteka
Comment[tr]=Ses dosyası üstveri düzenle
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;AudioVideoEditing;
StartupNotify=true
StartupWMClass=kid3
Keywords=audio;id3;tag;editor;id3v1;id3v2;mp3;
