<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kid3" version="10">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="open_directory" append="open_merge"/>
    <Action name="import"/>
    <Action name="import_freedb"/>
    <Action name="import_tracktype"/>
    <Action name="import_discogs"/>
    <Action name="import_amazon"/>
    <Action name="import_musicbrainzrelease"/>
    <Action name="import_musicbrainz"/>
    <Action name="browse_cover_art"/>
    <Action name="export"/>
    <Action name="create_playlist"/>
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="previous_file" append="edit_select_merge"/>
    <Action name="next_file" append="edit_select_merge"/>
  </Menu>
  <Menu name="tools"><text>&amp;Tools</text>
    <Action name="apply_filename_format"/>
    <Action name="apply_id3_format"/>
    <Action name="rename_directory"/>
    <Action name="number_tracks"/>
    <Action name="filter"/>
    <Action name="convert_to_id3v24"/>
    <Action name="convert_to_id3v23"/>
    <Action name="play"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="hide_picture" append="show_merge"/>
    <Action name="auto_hide_tags" append="show_merge"/>
    <DefineGroup name="show_merge"/>
  </Menu>
</MenuBar>
<ToolBar noMerge="1" name="mainToolBar"><text>Main Toolbar</text>
  <Action name="file_open" />
  <Action name="file_save" />
  <Action name="file_revert" />
  <Action name="create_playlist" />
  <Action name="previous_file" />
  <Action name="next_file" />
  <Action name="play" />
</ToolBar>
</kpartgui>
