[Desktop Entry]
Name=Kid3
Exec=kid3 %f
Icon=kid3
Type=Application
X-DocPath=kid3/index.html
MimeType=audio/mpeg;audio/ogg;application/ogg;audio/x-flac;audio/x-flac+ogg;audio/x-vorbis+ogg;audio/x-speex+ogg;audio/x-oggflac;audio/x-musepack;audio/aac;audio/mp4;audio/x-speex;audio/x-tta;audio/x-wavpack;
GenericName=Audio Tagger
GenericName[de]=Audio Tag Editor
GenericName[es]=Editor de etiquetas de audio
GenericName[fi]=Äänitiedostojen tagimuokkaaja
GenericName[fr]=Éditeur de balises
GenericName[it]=Editor di tag audio
GenericName[nl]=Audio tag editor
GenericName[pl]=Edytor znaczników audio
GenericName[ru]=Программа-редактор аудио-тегов
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;AudioVideoEditing;
StartupNotify=true
StartupWMClass=kid3
