[Desktop Entry]
Name=Kid3
Exec=kid3 %f
Icon=kid3
Type=Application
X-DocPath=kid3/index.html
MimeType=audio/x-mp3;application/ogg;audio/x-flac;audio/x-flac+ogg;audio/x-vorbis+ogg;audio/x-speex+ogg;audio/x-oggflac;audio/x-musepack;audio/x-aac;audio/x-mp4;audio/x-m4a;audio/x-speex;audio/x-tta;audio/x-wavpack;x-directory/normal;inode/directory;
GenericName=Audio Tagger
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;AudioVideoEditing;
